Repository ifishcool/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(TextScene): 调整文字旋转动画幅度
  src/sections/TextScene.tsx
Due: prettier --write, eslint --fix

style(projects-strip): 添加时间线样式和优化项目展示效果
  src/styles/projects-strip.css
Due: none

feat(config): 实现文档自动化加载和frontmatter解析功能
  docs/abc.md
  docs/demo/abc copy.md
  src/config/projects.ts
Due: prettier --write, eslint --fix

feat(ProjectsStrip): 支持通过URL参数初始化活动项目
  src/sections/ProjectsStrip.tsx
Due: prettier --write, eslint --fix

feat: 更新项目配置和资源路径
  .lintstagedrc
  package-lock.json
  package.json
  src/App.css
  src/assets/fonts/Pacifico-Regular.ttf
  src/assets/images/cursor-cartoon-button.png
  src/assets/images/cursor-cartoon.png
  src/assets/sounds/click.mp3
  src/assets/sounds/clickSmall.mp3
  src/assets/sounds/expand.mp3
  src/assets/styles/big-footer.css
  src/assets/styles/hero.css
  src/assets/styles/oss-section.css
  src/assets/styles/project-modal.css
  src/assets/styles/projects-strip.css
  src/assets/styles/text-scene.css
  src/components/layout/IntroGate.tsx
  src/components/layout/TopNav.tsx
  src/hooks/useProjectsStripAnimation.ts
  src/sections/OpenSourceShowcase.tsx
  src/sections/ProjectsStrip.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

refactor(docs): 更新文档样式引入方式并移除未使用的组件
  docs/demo/abc copy.mdx
  docs/styles/Counter.css
  src/App.css
  src/assets/styles/project-modal.css
  src/components/layout/TopNav.tsx
Due: prettier --write, eslint --fix

docs(readme): 更新文档说明
  .npmrc
  package-lock.json
  pnpm-lock.yaml
  public/docs/2021.1/ipadair.mdx
  public/docs/2021.1/zztx.mdx
  public/docs/2023.2/pgr.mdx
  public/docs/2023.2/pickduck.mdx
  public/docs/assets/images/0A10813390B9D931779FCE5D179F6F82.jpg
  public/docs/assets/images/QQ20260121-162727.png
  public/docs/assets/images/QQ20260121-164008.png
  public/docs/assets/images/QQ20260121-173456.png
  public/docs/assets/images/QQ20260121-173721.png
  public/docs/assets/images/QQ20260121-173841.png
  src/App.css
  src/assets/styles/hero.css
  src/assets/styles/project-modal.css
  src/assets/styles/projects-strip.css
Due: prettier --write

refactor(App): 移除不必要的Suspense组件包装
  public/docs/2022.8/nier.mdx
  public/docs/2023.2/bcmmd.mdx
  public/docs/2023.6/cojs.mdx
  public/docs/2024.1/chatjpt.mdx
  public/docs/2024.3/noda.mdx
  src/App.tsx
  src/assets/styles/project-modal.css
  src/sections/ProjectsStrip.tsx
Due: prettier --write, eslint --fix

chore(build): 移除Docker相关配置文件
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
Due: none

docs(pickduck): 添加新图片并移除收尾标题
  public/docs/2022.12/yearpark.mdx
  public/docs/2023.2/pickduck.mdx
  public/docs/2024.1/yearwerewolf.mdx
  public/docs/2024.5/arenapro.mdx
  public/docs/2024.5/dao3doc.mdx
  src/assets/styles/project-modal.css
Due: none

docs: 移除多个旧文档并更新noda.mdx图片
  public/docs/2021.1/ipad-air.mdx
  public/docs/2022.12/year-park.mdx
  public/docs/2023.2/bcm-markdown.mdx
  public/docs/2023.6/coco-js.mdx
  public/docs/2024.1/year-werewolf.mdx
  public/docs/2024.3/noda.mdx
  public/docs/2024.5/arena-pro.mdx
  public/docs/2024.5/dao3-doc.mdx
  public/docs/2024.8/dao3-edu-architecture.mdx
Due: none

docs(arena-pro): 移除ArenaPro CLI文档
  src/docs/2025.11/arena-pro-cli.mdx
  src/docs/2025.8/dao3-activity.mdx
  src/docs/2025.8/sel.mdx
  src/docs/2025.8/tea-party.mdx
  src/docs/2025.8/vibe-ai.mdx
Due: none

Path conditions:
  prettier --write: (any of: *.{md,json}) or (any of: *.{js,cjs,mjs,jsx,ts,tsx})
  eslint --fix: any of: *.{js,cjs,mjs,jsx,ts,tsx}
